html, body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/*
@media only screen and (max-width: 480px) {
    body, header, nav {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
}*/

.progress-bar {
    position: fixed;
    margin-top: 80px;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, #ff0000, #cc0000);
    /* Degradado de rojo a rojo oscuro */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header {
    background: linear-gradient(to right, #ff0000, #cc0000);
    /* Degradado de rojo a rojo oscuro */
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1010;
}

header div {
    display: flex;
    align-items: center;
}

.introduccion {
    height: 100vh;
    background-image: url("../assets/img/introduccion.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 1px  #272727;
}

.introduccion2 {
    height: 90vh;
    overflow-y: hidden;
}

.introduccion h1 {
    font-size: 3.75em;
}

.introduccion p {
    font-size: 2.25em;
}

.cajalogo {
    background: #fff;
    height: 60px;
    width: 60px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.0s ease-in-out;
}

.cajalogo:hover {
    background: #c40000;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    color: black;
}

.comienzo {
    position: relative;
    text-align: center;
    padding: 1rem;
    font-size: 3em;
    color: black;
    margin-top: 80px;
    margin-bottom: 0;
}

.lean {
    position: relative;
    text-align: center;
    padding: 10px; 
    font-size: 3em;
    color: black;
    margin: 5px;
}

.titulo1 {
    text-align: center;
    padding: 0.75rem;
    font-size: 3em;
    color: black;
}

nav {
    background: linear-gradient(to right, #f60000, #c40000);
    /* Degradado de rojo a rojo oscuro */
    padding: 20px;
    /* Aumenté el espacio del menú */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    width: 40em;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-right: 30px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    padding: 8px;
}

ul li {
    transition: padding 0.3s ease-in-out;
    /* Agregamos transición al padding */
}

ul li:hover {
    padding-left: 8px;
    /* Ajustamos también el padding del li en el estado de hover */
    padding-right: 8px;
    /* Ajustamos también el padding del li en el estado de hover */
}

ul li:hover a {
    background: #fff;
    color: #cc0000;
    /* Rojo oscuro para el color de resaltado */
    border-radius: 5px;
    padding: 8px;
}

.propiedades {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    /* Centro el contenido */
}

.propiedades img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 990;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
}

.info {
    text-align: center;
}

.info2 {
    margin-bottom: 50px;
    text-align: center;
}

.info img, .info2 img {
    width: 1210px;
    height: 700px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.GridContainer {
    width: 92%;
    background-color: #ff0000;
    border: black 0.1rem;
    padding: 2rem;
    gap: 2rem;
    display: grid;
    grid-auto-rows: 10rem;
    grid-template-columns: auto auto auto auto;
    border-radius: 30px;
}

.GridContainer div {
    background-color: #fff;
    border: black 0.1rem;
    gap: 1rem;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.PrimerItem {
    grid-column: 1 / 3;
}

.TercerItem {
    grid-row: 2 / 4;

}

.NovenoItem {
    grid-column: 3 / 5;
}

.FormularioContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centrado2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.centradobottom {
    margin-bottom: 50px;
}

.espaciadito {
    margin: 5px;
}

.espaciadito2 {
    padding: 10px;
    margin: 5px;
    width: 65%;
    text-align: center;
    /* Centro el contenido */
    transition: 1.0s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    /* Agregamos transición al padding */
}

.espaciadito3 {
    padding: 10px;
    margin-bottom: 45px;
    width: 65%;
    text-align: center;
    /* Centro el contenido */
    transition: 1.0s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    /* Agregamos transición al padding */
}

.espaciadito2:hover {
    background: #f60000;
    color: #fff;
    padding-left: +1.5%;
    padding-right: +1.5%;
}

.espaciadito3:hover {
    background: #f60000;
    color: #fff;
    padding-left: +1.5%;
    padding-right: +1.5%;
}


.espaciadito4 {
    transition: 1.0s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}

.espaciadito4:hover {
    background: #f60000;
    color: #fff;
    padding-left: +1.5%;
    padding-right: +1.5%;
}